server:
  tcp:
    plain:
      addr: ":1883"
    tls: {}
    mtls: {}
  websocket:
    plain:
      addr: ""
    tls:
      addr: ""
    mtls:
      addr: ""
  http:
    plain:
      addr: ""
    tls:
      addr: ""
    mtls:
      addr: ""
  coap:
    plain:
      addr: ""
    dtls:
      addr: ""
    mdtls:
      addr: ""
  amqp:
    plain:
      addr: ":5672"
    tls: {}
    mtls: {}
  amqp091:
    plain:
      addr: ":5682"
    tls: {}
    mtls: {}
  health_enabled: true
  health_addr: ":8081"
  shutdown_timeout: "30s"

storage:
  type: "badger"
  badger_dir: "/data/node1/data"

cluster:
  enabled: true
  node_id: "node1"
  etcd:
    data_dir: "/data/node1/etcd"
    bind_addr: "10.247.0.11:2380"
    client_addr: "10.247.0.11:2379"
    initial_cluster: "node1=http://10.247.0.11:2380,node2=http://10.247.0.12:2380,node3=http://10.247.0.13:2380"
    bootstrap: true
  transport:
    bind_addr: "10.247.0.11:7948"
    peers:
      node2: "10.247.0.12:7948"
      node3: "10.247.0.13:7948"
  raft:
    enabled: false

log:
  level: "info"
  format: "text"

