---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArchitectureSection from '../components/home/ArchitectureSection.astro';
import FeaturesSection from '../components/home/FeaturesSection.astro';
import FooterSection from '../components/home/FooterSection.astro';
import HeroSection from '../components/home/HeroSection.astro';
import NewsletterSection from '../components/home/NewsletterSection.astro';
import PerformanceSection from '../components/home/PerformanceSection.astro';
import QuickStartSection from '../components/home/QuickStartSection.astro';
import UseCasesSection from '../components/home/UseCasesSection.astro';
---

<BaseLayout>
  <main class="min-h-screen bg-theme">
    <HeroSection />
    <FeaturesSection />
    <PerformanceSection />
    <UseCasesSection />
    <ArchitectureSection />
    <QuickStartSection />
    <NewsletterSection />
    <FooterSection />
  </main>
</BaseLayout>
